[Desktop Entry]
Name=Ansible Push
#Exec={{ __un_install_path_exec }}
Exec=gnome-terminal -- bash -c "{{ __un_install_path_exec }}; exec bash"
Icon={{ __un_install_path_icon }}
Terminal=true
Type=Application
Categories=System