# DEFAULTS
ANSIBLE_REPO_PATH=""
# currently only group 'all' is supported:
VAULT_GROUP_NAME="all"
VAULT_GROUP_CREDS_LOOKUP_PATH="/home/${USER}/.credentials/ansible/vault-all-lookup.sh"
VAULT_HOST_CREDS_LOOKUP_PATH="/home/${USER}/.credentials/ansible/vault-host-lookup.sh"